<!DOCTYPE html>
<html>
<head>
    <title>Your Pokémon Collection</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>Your Pokémon Collection</h1>
    
    <ul>
        {% for pokemon in pokemon_collection %}
            <li>{{ pokemon.name }} - Level: {{ pokemon.level }}</li>
            <div class="pokemon-item">
                <img src="{{ pokemon.front_shiny_image }}" alt="{{ pokemon.name }}">
                <p>{{ pokemon.name }}</p>
                <form method="POST" action="{{ url_for('remove_pokemon', pokemon_id=pokemon.id) }}">
                    <button type="submit" class="btn btn-danger">Remove</button>
                </form>
            </div>
            
        {% endfor %}
    </ul>
    
    <a href="{{ url_for('authentication.pokemon_form') }}">Add Pokémon</a>
</body>
</html>
