<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="POST" action="{{ url_for('authentication.login') }}">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control", placeholder="Enter your username", required="required") }}
        </div>
        
        <div class="form-group">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control", placeholder="Enter your password", required="required") }}
        </div>

        {% if error %}
        <div class="alert alert-danger">
          {{ error }}
        </div>
        {% endif %}


        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</body>
</html>


